/* Estilos de la tabla del crud */
#boton_agregar {
    margin-top: 3%;
    margin-bottom: 3%;
}


.imagenes_catalogo_ {
    width: 90%;
    height: 80%;
}

.card {
    height: 100%;
    width: 100%;
}
